.App{
    overflow: hidden;
    position: relative;
    height: 100vh;
    svg{
        height: 45vmin;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}














